<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yff.base.mapper.UserFileMapper">

    <resultMap id="BaseResultMap" type="com.yff.base.domain.UserFile">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="file" jdbcType="VARCHAR" property="file"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime"/>
        <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime"/>
        <result column="score" jdbcType="TINYINT" property="score"/>
        <!--   <result column="auditor_id" jdbcType="BIGINT" property="auditorId"/>
           <result column="applier_id" jdbcType="BIGINT" property="applierId"/>
           <result column="file_type_id" jdbcType="BIGINT" property="fileTypeId"/>-->

        <!--申请人-->
        <association property="applier" javaType="com.yff.base.domain.LoginInfo" columnPrefix="ap_">
            <id property="id" column="id"></id>
            <result property="username" column="username"></result>
        </association>
        <!--审核人-->
        <association property="auditor" javaType="com.yff.base.domain.LoginInfo" columnPrefix="au_">
            <id property="id" column="id"></id>
            <result property="username" column="username"></result>
        </association>

        <!--风控类型-->
        <association property="fileType" javaType="com.yff.base.domain.SystemDictionaryItem" columnPrefix="ft_">
            <id column="id" property="id"/>
            <result column="title" property="title"/>
        </association>

    </resultMap>
    <sql id="Base_Column_List">
    f.id, f.state, f.remark, f.audit_time, f.apply_time, f.image, f.score,
    f.file, ap.id as ap_id,ap.username as ap_username,au.id as au_id,au.username as au_username,
    ft.id as ft_id,ft.title as ft_title
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from  user_file f INNER JOIN login_info ap ON f.applier_id = ap.id
        LEFT JOIN login_info au ON f.auditor_id = au.id
        LEFT JOIN system_dictionary_item ft ON f.file_type_id = ft.id
        where f.id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_file
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.yff.base.domain.UserFile"
            useGeneratedKeys="true">
    insert into user_file (state, remark, audit_time, 
      apply_time, auditor_id, applier_id, 
      image, score, file, 
      file_type_id)
    values (#{state,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, #{auditTime,jdbcType=TIMESTAMP}, 
      #{applyTime,jdbcType=TIMESTAMP}, #{auditor.id,jdbcType=BIGINT}, #{applier.id,jdbcType=BIGINT},
      #{image,jdbcType=VARCHAR}, #{score,jdbcType=TINYINT}, #{file,jdbcType=VARCHAR}, 
      #{fileType.id,jdbcType=BIGINT})
  </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.yff.base.domain.UserFile"
            useGeneratedKeys="true">
        insert into user_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="state != null">
                state,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="auditTime != null">
                audit_time,
            </if>
            <if test="applyTime != null">
                apply_time,
            </if>
            <if test="auditor != null and auditor.id != null">
                auditor_id,
            </if>
            <if test="applier != null and applier.id != null">
                applier_id,
            </if>
            <if test="image != null">
                image,
            </if>
            <if test="score != null">
                score,
            </if>
            <if test="file != null">
                file,
            </if>
            <if test="fileType != null and fileType.id != null">
                file_type_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="state != null">
                #{state,jdbcType=TINYINT},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="auditTime != null">
                #{auditTime,jdbcType=TIMESTAMP},
            </if>
            <if test="applyTime != null">
                #{applyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="auditor != null and auditor.id != null">
                #{auditor.id,jdbcType=BIGINT},
            </if>
            <if test="applier != null and applier.id != null">
                #{applier.id,jdbcType=BIGINT},
            </if>
            <if test="image != null">
                #{image,jdbcType=VARCHAR},
            </if>
            <if test="score != null">
                #{score,jdbcType=TINYINT},
            </if>
            <if test="file != null">
                #{file,jdbcType=VARCHAR},
            </if>
            <if test="fileType != null and fileType.id != null">
                #{fileType.id,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yff.base.domain.UserFile">
        update user_file
        <set>
            <if test="state != null">
                state = #{state,jdbcType=TINYINT},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="auditTime != null">
                audit_time = #{auditTime,jdbcType=TIMESTAMP},
            </if>
            <if test="applyTime != null">
                apply_time = #{applyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="auditor != null and auditor.id != null">
                auditor_id = #{auditor.id,jdbcType=BIGINT},
            </if>
            <if test="applier != null and applier.id != null">
                applier_id = #{applier.id,jdbcType=BIGINT},
            </if>
            <if test="image != null">
                image = #{image,jdbcType=VARCHAR},
            </if>
            <if test="score != null">
                score = #{score,jdbcType=TINYINT},
            </if>
            <if test="file != null">
                file = #{file,jdbcType=VARCHAR},
            </if>
            <if test="fileType != null and fileType.id != null">
                file_type_id = #{fileType.id,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yff.base.domain.UserFile">
    update user_file
    set state = #{state,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      auditor_id = #{auditor.id,jdbcType=BIGINT},
      applier_id = #{applier.id,jdbcType=BIGINT},
      image = #{image,jdbcType=VARCHAR},
      score = #{score,jdbcType=TINYINT},
      file = #{file,jdbcType=VARCHAR},
      file_type_id = #{fileType.id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>


    <sql id="condition">
        <where>
            <if test="state>-1">
                AND f.state = #{state}
            </if>
            <if test="applierId !=null">
                AND f.applier_id = #{applierId}
            </if>
            <if test="beginDate!=null">
                AND f.apply_time &gt;= #{beginDate}
            </if>
            <if test="endDate!=null">
                AND f.apply_time &lt;= #{endDate}
            </if>
            AND f.file_type_id IS NOT NULL
        </where>
    </sql>

    <select id="queryByPageCondition" parameterType="com.yff.base.query.UserFileQueryObject" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from  user_file f INNER JOIN login_info ap ON f.applier_id = ap.id
        LEFT JOIN login_info au ON f.auditor_id = au.id
        LEFT JOIN system_dictionary_item ft ON f.file_type_id = ft.id
        <include refid="condition"/>
    </select>


    <sql id="conditionByFileType">
        <where>
            <if test="!hasType">
                AND f.file_type_id IS NULL
            </if>
            <if test="hasType">
                AND f.file_type_id IS NOT NULL
            </if>
            AND f.applier_id = #{loginInfoId}
        </where>
    </sql>



    <select id="queryUserFilesByFileType" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from  user_file f INNER JOIN login_info ap ON f.applier_id = ap.id
        LEFT JOIN login_info au ON f.auditor_id = au.id
        LEFT JOIN system_dictionary_item ft ON f.file_type_id = ft.id
        <include refid="conditionByFileType"/>
    </select>
</mapper>