<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yff.base.mapper.VedioAuthMapper">
    <resultMap id="BaseResultMap" type="com.yff.base.domain.VedioAuth">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime"/>
        <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime"/>
        <association property="applier" javaType="com.yff.base.domain.LoginInfo" columnPrefix="ap_">
            <id column="id" property="id"/>
            <result column="username" property="username"/>
        </association>
        <association property="auditor" javaType="com.yff.base.domain.LoginInfo" columnPrefix="au_">
            <id column="id" property="id"/>
            <result column="username" property="username"/>
        </association>
        <!--   <result column="auditor_id" jdbcType="BIGINT" property="auditorId" />
           <result column="applier_id" jdbcType="BIGINT" property="applierId" />-->
    </resultMap>
    <sql id="Base_Column_List">
    	v.id, v.state, v.remark, v.audit_time, v.apply_time , ap.id as ap_id ,ap.username as ap_username ,
	au.id as au_id ,au.username as au_username
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from vedio_auth v
        INNER JOIN login_info ap ON v.applier_id = ap.id
        LEFT JOIN login_info au ON v.auditor_id = au.id
        where v.id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from vedio_auth
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.yff.base.domain.VedioAuth"
            useGeneratedKeys="true">
    insert into vedio_auth (state, remark, audit_time, 
      apply_time, auditor_id, applier_id
      )
    values (#{state,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, #{auditTime,jdbcType=TIMESTAMP}, 
      #{applyTime,jdbcType=TIMESTAMP}, #{auditor.id,jdbcType=BIGINT}, #{applier.id,jdbcType=BIGINT}
      )
  </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.yff.base.domain.VedioAuth"
            useGeneratedKeys="true">
        insert into vedio_auth
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="state != null">
                state,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="auditTime != null">
                audit_time,
            </if>
            <if test="applyTime != null">
                apply_time,
            </if>
            <if test="auditor != null and auditor.id != null">
                auditor_id,
            </if>
            <if test="applier != null and applier.id != null">
                applier_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="state != null">
                #{state,jdbcType=TINYINT},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="auditTime != null">
                #{auditTime,jdbcType=TIMESTAMP},
            </if>
            <if test="applyTime != null">
                #{applyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="auditor != null and auditor.id != null">
                #{auditor.id,jdbcType=BIGINT},
            </if>
            <if test="applier != null and applier.id != null">
                #{applier.id,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yff.base.domain.VedioAuth">
        update vedio_auth
        <set>
            <if test="state != null">
                state = #{state,jdbcType=TINYINT},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="auditTime != null">
                audit_time = #{auditTime,jdbcType=TIMESTAMP},
            </if>
            <if test="applyTime != null">
                apply_time = #{applyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="auditor != null and auditor.id != null">
                auditor_id = #{auditor.id,jdbcType=BIGINT},
            </if>
            <if test="applier != null and applier.id != null">
                applier_id = #{applier.id,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yff.base.domain.VedioAuth">
    update vedio_auth
    set state = #{state,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      auditor_id = #{auditorId,jdbcType=BIGINT},
      applier_id = #{applierId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <sql id="condition">
        <where>
            <if test="state>-1">
                AND v.state = #{state}
            </if>
            <if test="beginDate!=null">
                AND v.apply_time &gt;= #{beginDate}
            </if>
            <if test="endDate!=null">
                AND v.apply_time &lt;= #{endDate}
            </if>
            <if test="keyword!=null">
                AND ap.username like concat('%',#{keyword},'%')
            </if>
        </where>
    </sql>

    <select id="queryByPageCondition" parameterType="com.yff.base.query.VedioAuthQueryObject" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from vedio_auth v
        INNER JOIN login_info ap ON v.applier_id = ap.id
        LEFT JOIN login_info au ON v.auditor_id = au.id
        <include refid="condition" />
    </select>
</mapper>